# .env.example

POLYGON_RPC="https://polygon-mainnet.g.alchemy.com/v2/YOUR_POLYGON_API_KEY"
ZKEVM_RPC="https://polygonzkevm-mainnet.g.alchemy.com/v2/YOUR_ZKEVM_API_KEY"
ARBITRUM_RPC="https://arb-mainnet.g.alchemy.com/v2/YOUR_ARBITRUM_API_KEY"
